@page "/suppliers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookShop.Data
@using BookShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Поставщики</PageTitle>

<h1>Поставщики</h1>

<p>
    <a href="suppliers/create">Добавить нового поставщика</a>
</p>

<QuickGrid Class="table" Items="context.Suppliers">
    <PropertyColumn Property="supplier => supplier.Name" Title="Имя поставщика"/>
    <PropertyColumn Property="supplier => supplier.Address" Title="Адрес"/>
    <PropertyColumn Property="supplier => supplier.PhoneNumber" Title="Номер телефона"/>
    <PropertyColumn Property="supplier => supplier.Email" Title="Почта"/>

    <TemplateColumn Context="supplier">
        <a href="@($"suppliers/edit?supplierid={supplier.SupplierId}")">Редактировать</a> |
        <a href="@($"suppliers/details?supplierid={supplier.SupplierId}")">Описание</a> |
        <a href="@($"suppliers/delete?supplierid={supplier.SupplierId}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
