@page "/reviews"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Отзывы</PageTitle>

<h1>Отзывы</h1>

@* <p>
    <a href="reviews/create">Create New</a>
</p> *@

<QuickGrid Class="table" Items="context.Reviews.Include(ci => ci.Book)">
    <PropertyColumn Property="review => review.UserId" Title="Пользователь"/>
    <PropertyColumn Property="review => review.Book.Title" Title="Название книги" />
    <PropertyColumn Property="review => review.Rating" Title="Рейтинг" />
    <PropertyColumn Property="review => review.ReviewText" Title="Отзыв" />
    <PropertyColumn Property="review => review.DatePosted" Title="Дата отзыва" />

    <TemplateColumn Context="review">
        @* <a href="@($"reviews/edit?reviewid={review.ReviewId}")">Редактировать</a> | *@
        <a href="@($"reviews/details?reviewid={review.ReviewId}")">Описание</a> |
        <a href="@($"reviews/delete?reviewid={review.ReviewId}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
