@page "/supplierbooks/create"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>SupplierBook</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="SupplierBook" OnValidSubmit="AddSupplierBook" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookqnty" class="form-label">BookQnty:</label> 
                <InputNumber id="bookqnty" @bind-Value="SupplierBook.BookQnty" class="form-control" /> 
                <ValidationMessage For="() => SupplierBook.BookQnty" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/supplierbooks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private SupplierBook SupplierBook { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSupplierBook()
    {
        using var context = DbFactory.CreateDbContext();
        context.SupplierBooks.Add(SupplierBook);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/supplierbooks");
    }
}
