@page "/supplierbooks/details"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>SupplierBook</h2>
    <hr />
    @if (supplierbook is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">BookQnty</dt>
            <dd class="col-sm-10">@supplierbook.BookQnty</dd>
        </dl>
        <div>
            <a href="@($"/supplierbooks/edit?supplierid={supplierbook.SupplierId}")">Edit</a> |
            <a href="@($"/supplierbooks")">Back to List</a>
        </div>
    }
</div>

@code {
    private SupplierBook? supplierbook;

    [SupplyParameterFromQuery]
    private int SupplierId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        supplierbook = await context.SupplierBooks.FirstOrDefaultAsync(m => m.SupplierId == SupplierId);

        if (supplierbook is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
