@page "/supplierbooks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookShop.Data
@using BookShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="supplierbooks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.SupplierBooks">
    <PropertyColumn Property="supplierbook => supplierbook.BookQnty" />

    <TemplateColumn Context="supplierbook">
        <a href="@($"supplierbooks/edit?supplierid={supplierbook.SupplierId}")">Edit</a> |
        <a href="@($"supplierbooks/details?supplierid={supplierbook.SupplierId}")">Details</a> |
        <a href="@($"supplierbooks/delete?supplierid={supplierbook.SupplierId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
