@page "/authors/details"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Author</h2>
    <hr />
    @if (author is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">AuthorName</dt>
            <dd class="col-sm-10">@author.AuthorName</dd>
        </dl>
        <div>
            <a href="@($"/authors/edit?authorid={author.AuthorId}")">Edit</a> |
            <a href="@($"/authors")">Back to List</a>
        </div>
    }
</div>

@code {
    private Author? author;

    [SupplyParameterFromQuery]
    private int AuthorId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        author = await context.Authors.FirstOrDefaultAsync(m => m.AuthorId == AuthorId);

        if (author is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
