@page "/authors"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Авторы</PageTitle>

<h1>Авторы</h1>

<p>
    <a href="authors/create" class="btn btn-primary">Добавить нового автора</a>
</p>

<QuickGrid Class="table" Items="context.Authors">
    <PropertyColumn Property="author => author.AuthorName" Title="Имя автора"/>

    <TemplateColumn Context="author">
        <a href="@($"authors/details?authorid={author.AuthorId}")" class="btn btn-info">Описание</a> |
        <a href="@($"authors/edit?authorid={author.AuthorId}")" class="btn btn-warning">Редактировать</a> |
        <a href="@($"authors/delete?authorid={author.AuthorId}")" class="btn btn-danger">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
