body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-top: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-input {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.filter-button {
    padding: 5px 10px;
    border-radius: 5px;
}

.table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}

    .table th, .table td {
        border: 1px solid #dee2e6;
        padding: 10px;
        text-align: left;
    }

    .table th {
        background-color: #f8f9fa;
        color: #343a40;
    }

.btn {
    margin-right: 5px;
}
.star {
    color: gold; /* Жёлтый цвет */
    font-size: 18px;
}