@page "/publishers/delete"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы точно хотите удалить это издательство?</p>
<div>
    <h2>Мздательство</h2>
    <hr />
    @if (publisher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Название издательства</dt>
            <dd class="col-sm-10">@publisher.PublisherName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">почта</dt>
            <dd class="col-sm-10">@publisher.ContactEmail</dd>
        </dl>
        <EditForm method="post" Model="publisher" OnValidSubmit="DeletePublisher" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(publisher is null)">Удалить</button> |
            <a href="/publishers">Обратно к списку издательств</a>
        </EditForm>
    }
</div>

@code {
    private Publisher? publisher;

    [SupplyParameterFromQuery]
    private int PublisherId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        publisher = await context.Publishers.FirstOrDefaultAsync(m => m.PublisherId == PublisherId);

        if (publisher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePublisher()
    {
        using var context = DbFactory.CreateDbContext();
        context.Publishers.Remove(publisher!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/publishers");
    }
}
