@page "/publishers/details"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Описание</PageTitle>

<h1>Описание</h1>

<div>
    <h2>Издательство</h2>
    <hr />
    @if (publisher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">название издательства</dt>
            <dd class="col-sm-10">@publisher.PublisherName</dd>
            <dt class="col-sm-2">Почта</dt>
            <dd class="col-sm-10">@publisher.ContactEmail</dd>
        </dl>
        <div>
            <a href="@($"/publishers/edit?publisherid={publisher.PublisherId}")">Редактировать</a> |
            <a href="@($"/publishers")">Обратно к списку издательств</a>
        </div>
    }
</div>

@code {
    private Publisher? publisher;

    [SupplyParameterFromQuery]
    private int PublisherId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        publisher = await context.Publishers.FirstOrDefaultAsync(m => m.PublisherId == PublisherId);

        if (publisher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
