@page "/publishers/edit"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Publisher</h2>
<hr />
@if (Publisher is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Publisher" OnValidSubmit="UpdatePublisher" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Publisher.PublisherId" value="@Publisher.PublisherId" />
                <div class="mb-3">
                    <label for="publishername" class="form-label">PublisherName:</label>
                    <InputText id="publishername" @bind-Value="Publisher.PublisherName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Publisher.PublisherName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="contactemail" class="form-label">ContactEmail:</label>
                    <InputText id="contactemail" @bind-Value="Publisher.ContactEmail" class="form-control" />
                    <ValidationMessage For="() => Publisher.ContactEmail" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/publishers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int PublisherId { get; set; }

    [SupplyParameterFromForm]
    private Publisher? Publisher { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Publisher ??= await context.Publishers.FirstOrDefaultAsync(m => m.PublisherId == PublisherId);

        if (Publisher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePublisher()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Publisher!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PublisherExists(Publisher!.PublisherId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/publishers");
    }

    private bool PublisherExists(int publisherid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Publishers.Any(e => e.PublisherId == publisherid);
    }
}
