@page "/paymenttypes/create"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Добавить новый тип оплаты</PageTitle>

<h1>Добавить новый тип оплаты</h1>

<h2>Тип оплаты</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="PaymentType" OnValidSubmit="AddPaymentType" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Имя типа:</label> 
                <InputText id="name" @bind-Value="PaymentType.Name" class="form-control" /> 
                <ValidationMessage For="() => PaymentType.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить</button> |
            <a href="/paymenttypes" class="btn btn-secondary">Назад к списку</a>
        </EditForm>
    </div>
</div>

@* <div>
    <a href="/paymenttypes" class="btn btn-secondary">Назад к списку</a>
</div> *@

@code {
    [SupplyParameterFromForm]
    private PaymentType PaymentType { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPaymentType()
    {
        using var context = DbFactory.CreateDbContext();
        context.PaymentTypes.Add(PaymentType);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/paymenttypes");
    }
}
