@page "/paymenttypes/delete"
@using Microsoft.EntityFrameworkCore
@using BookShop.Data
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы точно хотите удалить этот тип оплаты?</p>
<div>
    <h2>Тип оплаты</h2>
    <hr />
    @if (paymenttype is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Имя типа</dt>
            <dd class="col-sm-10">@paymenttype.Name</dd>
        </dl>
        <EditForm method="post" Model="paymenttype" OnValidSubmit="DeletePaymentType" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(paymenttype is null)">Удалить</button> |
            <a href="/paymenttypes" class="btn btn-secondary">Назад к списку</a>
        </EditForm>
    }
</div>

@code {
    private PaymentType? paymenttype;

    [SupplyParameterFromQuery]
    private int PaymentTypeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        paymenttype = await context.PaymentTypes.FirstOrDefaultAsync(m => m.PaymentTypeId == PaymentTypeId);

        if (paymenttype is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePaymentType()
    {
        using var context = DbFactory.CreateDbContext();
        context.PaymentTypes.Remove(paymenttype!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/paymenttypes");
    }
}
