@page "/paymenttypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory

<PageTitle>Тип оплаты</PageTitle>

<h1>Тип оплаты</h1>

<p>
    <a href="paymenttypes/create">Добавить новый тип оплаты</a>
</p>

<QuickGrid Class="table" Items="context.PaymentTypes">
    <PropertyColumn Property="paymenttype => paymenttype.Name" Title="Тип оплаты"/>

    <TemplateColumn Context="paymenttype">
        <a href="@($"paymenttypes/edit?paymenttypeid={paymenttype.PaymentTypeId}")">Редактировать</a> |
        <a href="@($"paymenttypes/details?paymenttypeid={paymenttype.PaymentTypeId}")">Подробнее</a> |
        <a href="@($"paymenttypes/delete?paymenttypeid={paymenttype.PaymentTypeId}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
