@page "/genres"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookShop.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Жанры</PageTitle>

<h1>Жанры</h1>

<p>
    <a href="genres/create" class="btn btn-primary">Добавить новы жанр</a>
</p>

<QuickGrid Class="table" Items="context.Genres">
    <PropertyColumn Property="genre => genre.Name" Title="Название жанра"/>

    <TemplateColumn Context="genre">
        <a href="@($"genres/details?genreid={genre.GenreId}")" class="btn btn-info">Описание</a> |
        <a href="@($"genres/edit?genreid={genre.GenreId}")" class="btn btn-warning">Редактировать</a> |
        <a href="@($"genres/delete?genreid={genre.GenreId}")" class="btn btn-danger">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
